body *{
    padding: 0%;
    margin: 0%;
    color: white;
}
body{
    background-color:lightgray;
    background-image: url('bgimg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
h2 {
    padding: 7px;
    margin: 2px;
    color:white;
    font-family:Courier;
    font-size: 200%;
}
h3 {
    padding: 7px;
    margin: 2px;
    color:white; 
    font-family:Georgia
}
.a,th,td {
    padding: 7px;
    margin: 2px;
    border: 1px solid white;
  }
img {
    float: right
}